<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Result Page</title>
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
  <header class = "header">
  	<div class = "container">
  		<div class= "inner">
  			<a class="logo" href="/">Application page</a>
  			<nav>
  				<a class="nav_link" href=#>About us</a>
  				<a class="nav_link" href=#>Service</a>
  				<a class="nav_link" href=#>Blog</a>
  				<a class="nav_link" href=#>Contact</a>
  			</nav>
  		</div>
  	</div>
  </header>
    <div style="opacity: 0.6;" class="container_result">
    <img src="{% static "images/sad.svg" %}" alt="You have been declined by score card result">
    <h1> You have been declined by score card result</h1>
    <input href="/" style="float: center; background-color: #17234c; cursor: pointer; padding: 12px 34px; text-decoration: none; margin: 4px 2px; color: #FFFFFF; border-width: 0; font-size:16px; font-weight:700;" type="button" onClick="location.href='index.html'" value='Go to another application form'>
    </div>
</body>
<footer style="text-align: center" class="footer">Copyright ©2020 Score Card. All rights reserved. </footer>
</html>
